<div class="row">
	<div class="span10 offset1">

		<%= form_for(@core_aquaviario, :html=>{:class=>"form-horizontal well"}) do |f| %>
		<% if @core_aquaviario.errors.any? %>
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong><%= pluralize(@core_aquaviario.errors.count, "erro") %> ao tentar salvar este formulario:</strong>
			
			<ul>
				<% @core_aquaviario.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
				
		
		<div class="control-group">
			<%= f.label :empresa_id, :class=>"control-label" %>
			<div class="controls">
				<%= f.text_field :empresa_id, :class=>"input-xlarge" %>
				<p class="help-block">
					
				</p>
			</div>
		</div>
		
		<div class="control-group">
			<%= f.label :registro_antaq, :class=>"control-label" %>
			<div class="controls">
				<%= f.text_field :registro_antaq, :class=>"input-xlarge" %>
				<p class="help-block">
					
				</p>
			</div>
		</div>
		
		<div class="control-group">
			<%= f.label :status, :class=>"control-label" %>
			<div class="controls">
				<%= f.check_box :status, :class=>"input-xlarge" %>
				<p class="help-block">
					
				</p>
			</div>
		</div>
		
		<div class="form-actions">
			<%= f.submit :class=>"btn btn-primary" %>
			<button type="reset" class="btn">
				Cancelar
			</button>
		</div>
		<% end %>

	</div>
</div>
