<div class="page-header">
	<h3>Lista de core_termo_lacres</h3>
</div>

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			
			<th>Dad</th>
			
			<th>Unidade carga</th>
			
			<th>Fisco cpf</th>
			
			<th>Termo lacre data</th>
			
			<th>Termo lacre numero</th>
			
			<th>Observacoes</th>
			
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<%= content_tag_for(:tr, @core_termo_lacres) do |core_termo_lacre| %>
		
		<td><%= core_termo_lacre.dad_id %></td>
		
		<td><%= core_termo_lacre.unidade_carga_id %></td>
		
		<td><%= core_termo_lacre.fisco_cpf_id %></td>
		
		<td><%= core_termo_lacre.termo_lacre_data %></td>
		
		<td><%= core_termo_lacre.termo_lacre_numero %></td>
		
		<td><%= core_termo_lacre.observacoes %></td>
		
		<td><%= link_to 'Mostrar', core_termo_lacre, :class=>"btn btn-small"%></td>
		<td><%= link_to 'Editar', edit_core_termo_lacre_path(core_termo_lacre), :class=>"btn btn-primary btn-small" %></td>
		<td><%= link_to 'Apagar', core_termo_lacre, :class=>"btn btn-danger btn-small", method: :delete, data: { confirm: 'Você está certo disso?' } %></td>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'Novo(a) Termo lacre', new_core_termo_lacre_path, :class=>"btn btn-success" %>

