<div class="page-header">
	<h3>Exibindo core_termo_lacre</h3>
</div>


<p>
	<strong>Dad:</strong>
	<%= @core_termo_lacre.dad_id %>
</p>


<p>
	<strong>Unidade carga:</strong>
	<%= @core_termo_lacre.unidade_carga_id %>
</p>


<p>
	<strong>Fisco cpf:</strong>
	<%= @core_termo_lacre.fisco_cpf_id %>
</p>


<p>
	<strong>Termo lacre data:</strong>
	<%= @core_termo_lacre.termo_lacre_data %>
</p>


<p>
	<strong>Termo lacre numero:</strong>
	<%= @core_termo_lacre.termo_lacre_numero %>
</p>


<p>
	<strong>Observacoes:</strong>
	<%= @core_termo_lacre.observacoes %>
</p>



<%= link_to 'Editar', edit_core_termo_lacre_path(@core_termo_lacre) %> |
<%= link_to 'Voltar', core_termo_lacres_path %>

