<div class="page-header">
	<h3>Exibindo core_termo_vistorium</h3>
</div>


<p>
	<strong>Dad:</strong>
	<%= @core_termo_vistorium.dad_id %>
</p>


<p>
	<strong>Unidade carga:</strong>
	<%= @core_termo_vistorium.unidade_carga_id %>
</p>


<p>
	<strong>Termo vistoria data inicio:</strong>
	<%= @core_termo_vistorium.termo_vistoria_data_inicio %>
</p>


<p>
	<strong>Termo vistoria data final:</strong>
	<%= @core_termo_vistorium.termo_vistoria_data_final %>
</p>


<p>
	<strong>Observacoes:</strong>
	<%= @core_termo_vistorium.observacoes %>
</p>


<p>
	<strong>Termo contagem:</strong>
	<%= @core_termo_vistorium.termo_contagem %>
</p>



<%= link_to 'Editar', edit_core_termo_vistorium_path(@core_termo_vistorium) %> |
<%= link_to 'Voltar', core_termo_vistoria_path %>

