<div class="page-header">
	<h3>Lista de core_status_desembaracos</h3>
</div>

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			
			<th>Descricao</th>
			
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<%= content_tag_for(:tr, @core_status_desembaracos) do |core_status_desembaraco| %>
		
		<td><%= core_status_desembaraco.descricao %></td>
		
		<td><%= link_to 'Mostrar', core_status_desembaraco, :class=>"btn btn-small"%></td>
		<td><%= link_to 'Editar', edit_core_status_desembaraco_path(core_status_desembaraco), :class=>"btn btn-primary btn-small" %></td>
		<td><%= link_to 'Apagar', core_status_desembaraco, :class=>"btn btn-danger btn-small", method: :delete, data: { confirm: 'Você está certo disso?' } %></td>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'Novo(a) Status desembaraco', new_core_status_desembaraco_path, :class=>"btn btn-success" %>

