<div class="page-header">
	<h3><%= link_to 'Voltar', aquaviario_dad_unidade_cargas_path(@dad)  %> | Lista de aquaviario_documento_eletronicos</h3>
</div>

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr><th></th></tr>
		<tr><th>Transportador Aquaviario: <%= @dad.empresa.cnpj %></th></tr>
		<tr><th>Documento Auxiliar de Desembaraço: <%= @dad.id %></th></tr>
		<tr><th>Empurrador: <%= @dad.empurrador %> Balsa: <%= @dad.balsa %></th></tr>
		<tr><th>Unidade de Carga: <%= @uc.id %> Tipo: <%= @uc.tipo_unidade.descricao %></th></tr>
						
		</tr>
	</thead>
</table>

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
						
			<th>Tipo documento eletronico</th>
			
			<th>Documento</th>
			
			<th>Transportador Rodoviario</th>
					
			<th></th>
		</tr>
	</thead>

	<tbody>
		<%= content_tag_for(:tr, @aquaviario_documento_eletronicos) do |aquaviario_documento_eletronico| %>
				
		<td><%= aquaviario_documento_eletronico.tipo_documento_eletronico.descricao %></td>
		
		<td><%= aquaviario_documento_eletronico.documento %></td>
		
		<td><%= aquaviario_documento_eletronico.rodoviario_id %></td>
		
		<td><%= link_to 'Mostrar', aquaviario_dad_unidade_carga_documento_eletronico_path(@dad, @uc, aquaviario_documento_eletronico), :class=>"btn btn-small"%></td>
		<td><%= link_to 'Editar', edit_aquaviario_dad_unidade_carga_documento_eletronico_path(@dad, @uc, aquaviario_documento_eletronico), :class=>"btn btn-primary btn-small" %></td>
		<td><%= link_to 'Apagar', aquaviario_documento_eletronico, :class=>"btn btn-danger btn-small", method: :delete, data: { confirm: 'Você está certo disso?' } %></td>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'Novo Documento eletronico', new_aquaviario_dad_unidade_carga_documento_eletronico_path(@dad, @uc), :class=>"btn btn-success" %>

