<div class="page-header">
	<h3>Exibindo core_termo_fd</h3>
</div>


<p>
	<strong>Rodoviario:</strong>
	<%= @core_termo_fd.rodoviario_id %>
</p>


<p>
	<strong>Rodoviario usuario:</strong>
	<%= @core_termo_fd.rodoviario_usuario_id %>
</p>


<p>
	<strong>Rodoviario data autorizacao:</strong>
	<%= @core_termo_fd.rodoviario_data_autorizacao %>
</p>


<p>
	<strong>Fisco usuario:</strong>
	<%= @core_termo_fd.fisco_usuario_id %>
</p>


<p>
	<strong>Fisco data autorizacao:</strong>
	<%= @core_termo_fd.fisco_data_autorizacao %>
</p>


<p>
	<strong>Porto usuario:</strong>
	<%= @core_termo_fd.porto_usuario_id %>
</p>


<p>
	<strong>Porto data autorizacao:</strong>
	<%= @core_termo_fd.porto_data_autorizacao %>
</p>


<p>
	<strong>Status termo fiel depositario:</strong>
	<%= @core_termo_fd.status_termo_fiel_depositario_id %>
</p>


<p>
	<strong>Fisco fechamento usuario:</strong>
	<%= @core_termo_fd.fisco_fechamento_usuario_id %>
</p>


<p>
	<strong>Fechamento descricao:</strong>
	<%= @core_termo_fd.fechamento_descricao %>
</p>


<p>
	<strong>Fechamento data:</strong>
	<%= @core_termo_fd.fechamento_data %>
</p>



<%= link_to 'Editar', edit_core_termo_fd_path(@core_termo_fd) %> |
<%= link_to 'Voltar', core_termo_fds_path %>

