<div class="page-header">
	<h3>Lista de core_rodoviarios</h3>
</div>

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			
			<th>Empresa</th>
			
			<th>Registro antt</th>
			
			<th>Status</th>
			
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<%= content_tag_for(:tr, @core_rodoviarios) do |core_rodoviario| %>
		
		<td><%= core_rodoviario.empresa_id %></td>
		
		<td><%= core_rodoviario.registro_antt %></td>
		
		<td><%= core_rodoviario.status %></td>
		
		<td><%= link_to 'Mostrar', core_rodoviario, :class=>"btn btn-small"%></td>
		<td><%= link_to 'Editar', edit_core_rodoviario_path(core_rodoviario), :class=>"btn btn-primary btn-small" %></td>
		<td><%= link_to 'Apagar', core_rodoviario, :class=>"btn btn-danger btn-small", method: :delete, data: { confirm: 'Você está certo disso?' } %></td>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'Novo(a) Rodoviario', new_core_rodoviario_path, :class=>"btn btn-success" %>

